.initial-div{
    width: 100vw;
    height: 80vh;
    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    padding-left: 30px;

}

.div-title h2{
    height: 30px;
    font-weight: 400;
}


.text-hello{
    padding-top: 32px;
    padding-bottom: 16px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 34px;
}

.info-courses{
    overflow: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;   
}

.info-courses::-webkit-scrollbar{
    display: none;
}

.title-courses{

    width: 80vw;
    display: flex;
    justify-content: space-between;

    margin-bottom: 16px;
}

.div-courses{
    
    width: 950px;

    display: flex;
    justify-content: space-between;

    margin-bottom: 24px;
    margin-right: 16px;

}

.course{

    width: 213px;
    height: 86px;

    background: #333333;
    border-radius: 16px;
    color: #ffffff;

    margin-right: 16px;

}

.course p{
    margin-top: 20px;
    margin-left: 16px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.data-course{
    margin: 8px 16px 0px;

    display: flex;
    justify-content: space-between;
}

/* .course p {
    width: 70px;
    height: 16px;
} */

.div-register{
    position: relative;
}

.register-title{
    margin-bottom: 16px;
}

.div-register span{
    width: 78px;
    height: 41px;
}

.box-register{

    display: flex;
    justify-content: space-around;
    flex-direction: column;

    width: 156px;
    height: 131px;

    background: #333333;
    border-radius: 16px;
    color: #ffffff;

    margin-right: 16px;

    padding-left: 16px;
}