.form-content{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.form{
    width: 80%;
    height: 80%;

    display: grid;
    grid-template-rows:auto;
}

.form-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 50px;
    font-weight: 700;
}

/* .form-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    max-height: 100%;
} */

input:focus:placeholder{
    color: transparent;
}
input::placeholder{
    transition: color .3s ease;
}

.form-inputs .form-label input{
    width: 80vw;
    height: 46px;

    padding-left: 16px;

    border: 2px solid #ECE9F5;
    border-radius: 16px;
}

.form-inputs input:first-child {
    margin-bottom: 15px;
}

.form-forget{
    height: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.form-input-btn{
    height: 56px;

    background: #333333;
    color: #ffffff;
    border: none;

    border-radius: 16px;

    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Quicksand', sans-serif;
}

.form-not-account{
    display: flex;
        justify-content: center;
    align-items: flex-end;
}

