.periodo-page{
    width: 80vw;
    height: 85vh;
}

.nav-bar{
    display: flex;
    justify-content: space-between;

    width: 78vw;

    margin-bottom: 25px;
}

h1{
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    line-height: 41px;

    margin-bottom: 24px;
}

.teacher-name{
    margin-top: 24px;
    margin-bottom: 32px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.div-periods{
    width: 300px;
    height: 48px;

    background: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 16px;

    border: 1px solid #c4c4c4;

    border-radius: 16px;

    margin-bottom: 16px;

}

.period{
    padding: 0 22px;
}

.div-periods button{
    width: 42px;
    height: 48px;

    background: #ffffff;

    border: 1px solid #c4c4c4;

    border-left: none;

    border-radius: 0 16px 16px 0;
}

.div-course{

    width: 300px;
    height: 86px;

    padding: 24px 22px;

    background: #333333;
    border-radius: 16px;
    color: #ffffff;

    margin-bottom: 8px;

    display: flex;
    justify-content: space-between;
}

.div-course .course-name{
    padding: 10px 0;
}

.course-data{
    display: flex;
    flex-direction: column;
}

.course-data p{
    margin-top: 8px;
    margin-left: 16px;
}

.week-day{
    margin: 16px 0;
}